.sui-grid {
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  outline: 0;
  position: relative;
  zoom: 1;
  background-clip: border-box;
  line-height: normal;
  box-sizing: content-box;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.sui-grid *{
  box-sizing: content-box;
}
.sui-grid .sui-grid-header {
  border-radius: 3px 3px 0 0;
  background-color: #f5f5f5;
}
.sui-grid .sui-grid-header .sui-grid-header-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: solid #ccc;
  border-width: 0 1px 0 0;
  zoom: 1;
}
.sui-grid .sui-grid-header th.sui-header {
  overflow: hidden;
  border: solid #ccc;
  border-width: 0 0 1px 1px;
  padding: .5em .6em .4em .6em;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  vertical-align: bottom;
  background-color: #f5f5f5;
  position: relative;
}
.sui-grid .sui-grid-header th.sui-header > a.sui-link {
  display: block;
  color: #333;
  min-height: 18px;
  line-height: 18px;
  margin: -0.5em -0.6em -0.4em -0.6em;
  padding: .5em .6em .4em .6em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sui-grid .sui-grid-header th.sui-header > a.sui-link:hover,
.sui-grid .sui-grid-header th.sui-header > a.sui-link:visited {
  color: #333;
  text-decoration: none;
}
.sui-grid .sui-grid-header th.sui-header:first-child {
  border-left-width: 0;
  border-radius: 3px 0 0 0;
}
.sui-grid .sui-grid-header th.sui-header.sui-first {
  border-left-width: 1px;
  border-radius: 0;
}
.sui-grid .sui-grid-header th.sui-header .sui-col-sorter {
  font-family: 'icon-touch';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  right: 10px;
  top: 0px;
  line-height: 30px;
}
.sui-grid .sui-grid-header th.sui-header .sui-col-sorter:after {
  content: "\e683";
}
.sui-grid .sui-grid-header th.sui-header .sui-col-sorter.sui-col-sorter-asc {
  transform: rotate(180deg);
}
.sui-grid .sui-grid-header:first-child th.sui-header:last-child {
  border-radius: 0 3px 0 0;
}
.sui-grid .sui-grid-content {
  position: relative;
  width: 100%;
  overflow: auto;
  overflow-x: auto;
  overflow-y: overlay;
  white-space: normal;
  zoom: 1;
}
.sui-grid .sui-grid-pager {
  color: #a5a5a5;
  border-radius: 0 0 3px 3px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #f5f5f5;
  border: solid #ccc;
  border-width: 1px 0 0;
  clear: both;
  overflow: hidden;
  line-height: 2.0em;
  padding: .333em 0 .333em .250em;
}
.sui-grid .sui-grid-pager a.sui-page-nav {
  background: #fff;
  border: 1px solid #ccc;
  color: #ccc;
  border-right: 0;
  text-decoration: none;
  float: left;
  margin: 0;
  height: 24px;
  width: 23px;
  line-height: 20px;
  border-radius: 0;
  cursor: pointer;
  text-align: center;
}
.sui-grid .sui-grid-pager a.sui-page-nav.sui-page-first {
  border-radius: 4px 0 0 4px;
}
.sui-grid .sui-grid-pager a.sui-page-nav.sui-page-last {
  border-radius: 0 4px 4px 0;
}
.sui-grid .sui-grid-pager a.sui-page-nav.br1 {
  border-right: 1px solid #ccc;
}
.sui-grid .sui-grid-pager a.sui-page-nav.sui-state-disabled {
  opacity: .7;
}
.sui-grid .sui-grid-pager a.sui-page-nav i {
  color: #333;
}
.sui-grid .sui-grid-pager .sui-page-input {
  padding: 0 1.4166em;
  float: left;
}
.sui-grid .sui-grid-pager .sui-page-input .sui-textbox {
  border-color: #ccc;
  margin: 0 .4em 0;
  width: 2em;
  background-color: #fff;
  color: #333;
  height: 1.9em;
  text-indent: .33em;
  border-radius: 4px;
  outline: 0;
  padding: 0 .3em;
  line-height: 1.6em;
  display: inline-block;
  vertical-align: middle;
  border-width: 1px;
  border-style: solid;
  position: relative;
  overflow: visible;
  font-size: 100%;
}
.sui-grid .sui-grid-pager .sui-page-info {
  float: right;
  padding: 0 1.333em;
}
.sui-grid table {
  width: 100%;
  margin: 0;
  border-collapse: separate;
  border-spacing: 0;
  empty-cells: show;
  border-width: 0;
  outline: 0;
  table-layout: fixed;
}
.sui-grid tr td {
  border-style: solid;
  border-color: #ccc;
}
.sui-grid tr td:first-child {
  border-left-width: 0;
}
.sui-grid tr th:first-child {
  border-left-width: 0;
}
.sui-grid tr:nth-child(odd) {
  background-color: #f5f5f5;
}
.sui-grid td {
  border-style: solid;
  border-width: 0 0 0 1px;
  padding: .4em .6em;
  overflow: hidden;
  line-height: 1.6em;
  vertical-align: middle;
  text-overflow: ellipsis;
}
.sui-grid.secondary-header .sui-grid-content th {
  overflow: hidden;
  border: solid #ccc;
  border-width: 0 0 1px 0px;
  padding: .5em .6em .4em .6em;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  background-color: #f5f5f5;
}
.sui-grid.secondary-header .sui-grid-content tr td,
.sui-grid.secondary-header .sui-grid-content tr th {
  border-bottom: 1px;
  border-style: solid;
  border-color: #ccc;
}
.sui-grid.secondary-header .sui-grid-content tr td:first-child,
.sui-grid.secondary-header .sui-grid-content tr th:first-child {
  border-left-width: 0;
}
.sui-grid.secondary-header tr:last-child {
  border-bottom: 0;
}
.sui-grid.secondary-header tr:last-child td {
  border-bottom: 0;
}