
/* CORE STYLES */


.toast{
	position: fixed;
	border-radius: 25px;
	text-align: center;
	left: 50%;
	top: 50%;
	padding: 2px 25px .3em;
	transition-property: opacity;
  	transition-duration: 800ms;
  	opacity: 0;
	display: inline-block;
	font-size:14px;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	cursor: default;
	z-index: 500;
	&.top{
		top: 10px;
	}
	&.bottom{
		bottom: 10px;
		top: auto;
	}
	&.left{
		left: 20px;
	}
	&.right{
		right: 20px;
		left: auto;
	}
	&.toast-in {
	  opacity: 1;
	}
}

.toast-default {
  background: @label-default-bg;
}

.toast-primary {
  background: @label-primary-bg;
}

.toast-success {
  background: @label-success-bg;
}

.toast-info {
  background: @label-info-bg;
}

.toast-warning {
  background: @label-warning-bg;
}

.toast-danger {
  background: @label-danger-bg;
}

/*.modal-out {

}*/

/*.show-close-btn button{
	display: block;
}*/
